
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';

$visualize: grid-true;

@import '../bower_components/neat/app/assets/stylesheets/neat';
$accent-red: rgba(179, 46, 46, 1);
$overlay: rgba(91, 91, 91, .5);
$grid-colums: 14;

body{
  background: url(../images/bg.jpg);
position: relative;
  &::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $overlay;
  z-index: -9999;

}

}
.social {
  @include outer-container;
  height: 65px;}

.subscribe-list{
  @include span-columns(2);
  @include shift (7);
  vertical-align: middle;
  text-align: left;
  padding: 0;
}
.subscribe-dot,
.subscribe {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
.dot{
  position: relative;
font-size: 20px;
bottom: 5px;
left: 12px;
color: white;
}
.header-icons {
  @include span-columns (3);
  padding-left: 0px;
  text-align: center;
}
.h-icon{
  display: inline-block;
  vertical-align: middle;
  @include omega(4n);
}
.h-b-pic{
  padding: 0px;
  border: 0;
  position: relative;
  bottom: 10px;
  color: rgba(91, 91, 91, 1);
  background-color: rgba(91, 91, 91, 1);
}

/////////
.nav {
  @include outer-container;

  height: 45px;
}
.nav-boxes{
  @include span-columns (12);

  display: inline-block;
  vertical-align: middle;
  height: 45px;
  padding: 0px;
  margin-top: 0px;

}
.n-box{
  @include span-columns(3 of 12);
  display: inline-block;
  vertical-align: middle;
  @include omega(4n);
  text-align: center;


}
.n-button{
  padding-left: 48px;
  padding-top: 6px;
  padding-right: 50px;
  padding-bottom: 6px;
  font-size: 15px;
  color: white;
  background-color: $accent-red;
}

//////////
.header{
  @include outer-container;
  height: em(360);
}
.header-container{
  @include span-columns(12);
  background: url(../images/top-image.png) center center no-repeat;
  background-size: cover;
  height: em(360);
  position: relative;

  &::before{
    content: "";
    display: block;
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(../images/grid.png) center center no-repeat;
    background-size: cover;
    opacity: .1;
  }
  }
.logo-header{
  display: block;
  @include span-columns(3);
}
/////////
.three-icons{
  @include outer-container;
  height: 20px;
  margin-top: 0px;
}

.little-icons{
  @include span-columns (2);
  @include shift (5);
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;

}
.l-icon{
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
    @include omega(1n);
    padding-left: 2px;
}
.l-i-b{
  border-radius: 100%
}


.articles{
  @include outer-container;
  height: 350px;
}
.content-articles{
  @include span-columns(12);
}
.c-a-1,
.c-a-2,
.c-a-3{
  @include span-columns(4);
  display: inline-block;
  height:350px;
  margin-top: 0px;
  padding-bottom: 17px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 30px;
  @include omega(3n);
  background-color: white;
  margin-bottom: 14px;
  border-bottom: 4px solid $overlay

}

.c-a-header{
  font-size: 20px;
}
.c-a-date{
  font-size: 12px
}

p{
  font-size: 10px;

}
.read-more{
@include span-columns(2 of 4);
  display: block;
  @include shift(1);
  color: $accent-red;
}
.skateboarders{
  @include outer-container;
  height: 475px;
}
.skateboarders-pictures-left{
  @include span-columns(8);
  height: 475px;
}
.skateboarders-pictures-right{
  @include span-columns(4);
  height: 475px;
}
.skateboarders-name1,
.skateboarders-name2{
  @include span-columns(4 of 8);
  @include omega(2n);
  border: 8px solid white;
  display: inline-block;
  height: 220px;
  margin-top: 14px;
  padding-top: 75px;
  text-align: center;
  font-size: 40px;
  color: white;
}
.skateboarders-name3{
  @include span-columns(8 of 8);
  @include omega;
    border: 8px solid white;
  height: 220px;
  margin-top: 0px;
  text-align: center;
  padding-top: 75px;
  font-size: 40px;
  color: white;
  margin-bottom: 16px;
}
.skateboarders-name4{
  @include span-columns(4 of 4);
    border: 8px solid white;
  height: 473px;
  margin-top: 14px;
  color: white;
  text-align: center;
    padding-top: 163px;
    font-size: 40px;
}
.skateboarders-name1{
  background: url(../images/sk8er-4.png) 80% 80% no-repeat;
  background-size: cover;
  height: 220px;
  position: relative;
}
.skateboarders-name2{
  background: url(../images/sk8er-3.png) 70% 70% no-repeat;
  background-size: cover;
  height: 220px;
  position: relative;
}
.skateboarders-name3{
  background: url(../images/sk8er-1.png) 80% 80% no-repeat;
  background-size: cover;
  height: 213px;
  position: relative;
}
.skateboarders-name4{
  background: url(../images/sk8er-2.png) 80% 60% no-repeat;
  background-size: cover;
  height: 474px;
  position: relative;
}
.boards{
  @include outer-container;
  height: 300px;
}
.board-pictures{
  @include span-columns(12);
  background-color: white;
  margin-top: 40px;
  margin-bottom: 25px;
}
.board-pic{
  @include span-columns(1.2 of 12);
  display: inline-block;
  vertical-align: middle;
}
.footer{
  @include outer-container;
  height: 360px;
}
.footer-content{
  @include span-columns(6);
  display: inline-block;
  height: 360px;
  padding-left: 25px;
  background-color: white;
}
.input-boxes{
  @include span-columns(6);
  display: inline-block;
  height: 360px;
  padding-top: 30px;
  padding-right: 30px;
  background-color: white;
}
.footer-article{
    @include span-columns(6 of 6);
    display: inline-block;
    padding-top: 22px;

  }
.footer-icons{
  @include span-columns(3 of 6);
  padding: 0;
  display: inline-block;
}
.f-i-button{
  display: inline-block;
  vertical-align: middle;
}

input{
display: inline-block;
  @include span-columns(6 of 6);
}
.input-boxes{
  padding-left: 5px;
}
.i-b-1,
.i-b-2{
  height:40px;
  margin-bottom: 15px;
}
.i-b-3{
  height: 110px;
  padding-bottom: 20px;
}
.submit{
  @include span-columns(3 of 6);
  @include shift(3);
  display: block;
  @include omega;
  margin-top: 30px;
  height: 40px;
  background-color: $accent-red;
  color: white;

}
ul{
  list-style: none;
  display: inline-block;
}
a{
  text-decoration: none;
  color: inherit;
}
