html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

img {
  width: 100%; }

body {
  background: url(../images/bg.jpg);
  position: relative; }
  body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(91, 91, 91, 0.5);
    z-index: -9999; }

.page-content {
  max-width: 1300px;
  margin: 0 auto; }

.social {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  height: 65px; }
  .social::after {
    clear: both;
    content: "";
    display: table; }

.subscribe-list {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-left: 59.70863%;
  vertical-align: middle;
  text-align: left;
  padding: 0; }
  .subscribe-list:last-child {
    margin-right: 0; }
  @media screen and (max-width: 920px) {
    .subscribe-list {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 22.316%;
      margin-left: 51.78933%; }
      .subscribe-list:last-child {
        margin-right: 0; } }

.subscribe-dot,
.subscribe {
  display: inline-block;
  vertical-align: middle;
  color: white; }

.dot {
  position: relative;
  font-size: 20px;
  bottom: 5px;
  left: 12px;
  color: white; }

.header-icons {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding-left: 0px;
  text-align: center;
  display: inline-block; }
  .header-icons:last-child {
    margin-right: 0; }
  @media screen and (max-width: 920px) {
    .header-icons {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 22.316%; }
      .header-icons:last-child {
        margin-right: 0; } }

.h-icon {
  display: inline-block;
  vertical-align: middle; }
  .h-icon:nth-child(4n) {
    margin-right: 0; }
  .h-icon:nth-child(4n+1) {
    clear: left; }

.h-b-pic {
  padding: 0px;
  border: 0;
  position: relative;
  bottom: 10px;
  color: #5b5b5b;
  background-color: #5b5b5b; }

.nav {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  height: 45px; }
  .nav::after {
    clear: both;
    content: "";
    display: table; }

.nav-boxes {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  padding: 0px;
  margin-top: 0px; }
  .nav-boxes:last-child {
    margin-right: 0; }

.n-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  display: inline-block;
  vertical-align: middle;
  text-align: center; }
  .n-box:last-child {
    margin-right: 0; }
  .n-box:nth-child(4n) {
    margin-right: 0; }
  .n-box:nth-child(4n+1) {
    clear: left; }

.n-button {
  padding-left: 48px;
  padding-top: 6px;
  padding-right: 50px;
  padding-bottom: 6px;
  font-size: 15px;
  color: white;
  background-color: #b32e2e; }

.header {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  height: 22.5em; }
  .header::after {
    clear: both;
    content: "";
    display: table; }

.header-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: url(../images/top-image.png) center center no-repeat;
  background-size: cover;
  height: 22.5em;
  position: relative; }
  .header-container:last-child {
    margin-right: 0; }
  .header-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(../images/grid.png) center center no-repeat;
    background-size: cover;
    opacity: .1; }

.logo-header {
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .logo-header:last-child {
    margin-right: 0; }

.three-icons {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  margin-top: 0px; }
  .three-icons::after {
    clear: both;
    content: "";
    display: table; }

.little-icons {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-left: 42.64902%;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin-top: 0px;
  margin-bottom: 0px; }
  .little-icons:last-child {
    margin-right: 0; }

.l-icon {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  padding-left: 2px; }
  .l-icon:nth-child(1n) {
    margin-right: 0; }
  .l-icon:nth-child(1n+1) {
    clear: left; }

.l-i-b {
  border-radius: 100%; }

.articles {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  height: 350px; }
  .articles::after {
    clear: both;
    content: "";
    display: table; }

.content-articles {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .content-articles:last-child {
    margin-right: 0; }
  @media screen and (max-width: 920px) {
    .content-articles {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 100%; }
      .content-articles:last-child {
        margin-right: 0; } }

.c-a-1,
.c-a-2,
.c-a-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  display: inline-block;
  height: 350px;
  margin-top: 0px;
  padding-bottom: 17px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 30px;
  background-color: white;
  margin-bottom: 14px;
  border-bottom: 4px solid rgba(91, 91, 91, 0.5); }
  .c-a-1:last-child,
  .c-a-2:last-child,
  .c-a-3:last-child {
    margin-right: 0; }
  .c-a-1:nth-child(3n),
  .c-a-2:nth-child(3n),
  .c-a-3:nth-child(3n) {
    margin-right: 0; }
  .c-a-1:nth-child(3n+1),
  .c-a-2:nth-child(3n+1),
  .c-a-3:nth-child(3n+1) {
    clear: left; }
  @media screen and (max-width: 920px) {
    .c-a-1,
    .c-a-2,
    .c-a-3 {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 74.10533%;
      margin-left: 12.94733%; }
      .c-a-1:last-child,
      .c-a-2:last-child,
      .c-a-3:last-child {
        margin-right: 0; } }

.c-a-header {
  font-size: 20px; }

.c-a-date {
  font-size: 12px; }

p {
  font-size: 10px; }

.read-more {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 46.28851%;
  display: block;
  margin-left: 26.85574%;
  color: #b32e2e; }
  .read-more:last-child {
    margin-right: 0; }

.skateboarders {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  height: 475px; }
  .skateboarders::after {
    clear: both;
    content: "";
    display: table; }

.skateboarders-pictures-left {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  height: 475px; }
  .skateboarders-pictures-left:last-child {
    margin-right: 0; }

.skateboarders-pictures-right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 475px; }
  .skateboarders-pictures-right:last-child {
    margin-right: 0; }

.skateboarders-name1,
.skateboarders-name2 {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%;
  border: 8px solid white;
  display: inline-block;
  height: 220px;
  margin-top: 14px;
  padding-top: 75px;
  text-align: center;
  font-size: 40px;
  color: white; }
  .skateboarders-name1:last-child,
  .skateboarders-name2:last-child {
    margin-right: 0; }
  .skateboarders-name1:nth-child(2n),
  .skateboarders-name2:nth-child(2n) {
    margin-right: 0; }
  .skateboarders-name1:nth-child(2n+1),
  .skateboarders-name2:nth-child(2n+1) {
    clear: left; }

.skateboarders-name3 {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 100%;
  margin-right: 0;
  border: 8px solid white;
  height: 220px;
  margin-top: 0px;
  text-align: center;
  padding-top: 75px;
  font-size: 40px;
  color: white;
  margin-bottom: 16px; }
  .skateboarders-name3:last-child {
    margin-right: 0; }

.skateboarders-name4 {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 100%;
  border: 8px solid white;
  height: 473px;
  margin-top: 14px;
  color: white;
  text-align: center;
  padding-top: 163px;
  font-size: 40px; }
  .skateboarders-name4:last-child {
    margin-right: 0; }

.skateboarders-name1 {
  background: url(../images/sk8er-4.png) 80% 80% no-repeat;
  background-size: cover;
  height: 220px;
  position: relative; }

.skateboarders-name2 {
  background: url(../images/sk8er-3.png) 70% 70% no-repeat;
  background-size: cover;
  height: 220px;
  position: relative; }

.skateboarders-name3 {
  background: url(../images/sk8er-1.png) 80% 80% no-repeat;
  background-size: cover;
  height: 213px;
  position: relative; }

.skateboarders-name4 {
  background: url(../images/sk8er-2.png) 80% 60% no-repeat;
  background-size: cover;
  height: 474px;
  position: relative; }

.boards {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  height: 300px; }
  .boards::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 740px) {
    .boards {
      display: none; } }

.js-boards {
  display: none; }
  @media screen and (max-width: 740px) {
    .js-boards {
      display: block;
      position: relative;
      left: 40%; } }

.board-pictures {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 25px; }
  .board-pictures:last-child {
    margin-right: 0; }
  @media screen and (max-width: 740px) {
    .board-pictures {
      display: none; } }

.js-board-pictures {
  display: none; }
  @media screen and (max-width: 740px) {
    .js-board-pictures {
      display: inline-block;
      background-color: white;
      padding-left: 20px;
      padding-top: 15px;
      padding-right: 15px;
      margin-top: 40px;
      margin-bottom: 25px;
      height: 300px; } }

.board-pic {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 7.87811%;
  display: inline-block;
  vertical-align: middle; }
  .board-pic:last-child {
    margin-right: 0; }
  @media screen and (max-width: 740px) {
    .board-pic {
      display: none; } }

.js-board-pic {
  vertical-align: middle;
  display: none;
  height: 260px; }

.footer {
  max-width: 1300;
  margin-left: auto;
  margin-right: auto;
  height: 360px; }
  .footer::after {
    clear: both;
    content: "";
    display: table; }

.footer-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  display: inline-block;
  height: 360px;
  padding-left: 25px;
  background-color: white; }
  .footer-content:last-child {
    margin-right: 0; }

.input-boxes {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  display: inline-block;
  height: 360px;
  padding-top: 30px;
  padding-right: 30px;
  background-color: white; }
  .input-boxes:last-child {
    margin-right: 0; }

.footer-article {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 100%;
  display: inline-block;
  padding-top: 22px; }
  .footer-article:last-child {
    margin-right: 0; }

.footer-icons {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 47.58542%;
  padding: 0;
  display: inline-block; }
  .footer-icons:last-child {
    margin-right: 0; }

.f-i-button {
  display: inline-block;
  vertical-align: middle; }

input {
  display: inline-block;
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 100%; }
  input:last-child {
    margin-right: 0; }

.input-boxes {
  padding-left: 5px; }

.i-b-1,
.i-b-2 {
  height: 40px;
  margin-bottom: 15px; }

.i-b-3 {
  height: 110px;
  padding-bottom: 20px; }

.submit {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 47.58542%;
  margin-left: 52.41458%;
  display: block;
  margin-right: 0;
  margin-top: 30px;
  height: 40px;
  background-color: #b32e2e;
  color: white; }
  .submit:last-child {
    margin-right: 0; }

ul {
  list-style: none;
  display: inline-block; }

a {
  text-decoration: none;
  color: inherit; }

img {
  height: 100%; }
